project:
  type: book
  output-dir: docs

book:
  title: "How To Prove It with Lean"
  author:
    - name: Daniel J. Velleman
      affiliation: Amherst College
      orcid: 0000-0003-4632-1742
  page-footer: "© 2023-2025 Daniel J. Velleman.<br>Short excerpts from Daniel J. Velleman, <a href='https://doi.org/10.1017/9781108539890'><i>How To Prove It: A Structured Approach, 3rd Edition</i></a><br>© Daniel J. Velleman 2019, published by Cambridge University Press, reprinted with permission."
  downloads: pdf
  chapters:
    - index.qmd
    - Chap1.qmd
    - Chap2.qmd
    - IntroLean.qmd
    - Chap3.qmd
    - Chap4.qmd
    - Chap5.qmd
    - Chap6.qmd
    - Chap7.qmd
    - Chap8.qmd
    - Appendix.qmd

format:
  html:
    theme: cosmo
    css: HTPIwLstyles.css
    syntax-definitions: [lean.xml,state.xml]
    toc-depth: 2
    toc-title: In This Chapter
    number-depth: 0
    include-before-body: mathjaxdefs.tex
  pdf:
    pdf-engine: xelatex
    documentclass: scrreprt
    toc-depth: 2
    number-depth: 0
    syntax-definitions: [lean.xml,state.xml]
    include-in-header: inpreamble.tex
    include-before-body: thmdefs.tex
    monofont: JuliaMono
    keep-tex: true

filters:
  - latex-environment
environments: [quote, ind, inpt, outpt, bef, aft, numex, mdsk, thm, nthm, dfn, ndfn, npf, absnobreak]
commands: [excl, lrg]
