/* Maybe change color of code??
code {
  color: black

}
*/

code span.kw {    /* keywords */
  color: blue;
  font-weight: normal
}

code span.co {    /* comments */
  color: green;
  font-style: normal
}

code span.st {    /* quoted string */
  color: brown
}

code span.er {    /* error */
  color: black;
  font-weight: normal;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red
}

code span.sc {    /* Hidden delimiter: !! or - */
  display: none
}

code span.wa {      /* keyword in error */
  color: blue;
  font-weight: normal;
  font-style: normal;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red
}

code span.in {       /* identifiers in Infoview */
  color: Chocolate;
  font-weight: bold;
  font-style: normal
}

code span.re {      /* "case" label in Infoview */
  color: green;
  font-weight: bold
}

.inout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  row-gap: 0
}

.inpt::before {
  content: "Lean File";
  text-decoration-line: underline
}

.outpt::before {
  content: "Tactic State in Infoview";
  text-decoration-line: underline
}

.lftrt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  row-gap: 0
}

.bef::before {
  content: "Tactic State Before Using Strategy";
  text-decoration-line: underline
}

.aft::before {
  content: "Tactic State After Using Strategy";
  text-decoration-line: underline
}

.quote {
  margin-left: 10%
}

.ind {
  margin-left: 3%
}

.thm {
  font-style: italic
}

.thm::before {
  content: "Theorem.";
  font-style: normal;
  font-weight: bold;
  padding-right: 0.4em;
  float: left
}

.nthm {
  font-style: italic
}

.nthm::before {
  content: attr(data-arguments)".";
  font-style: normal;
  font-weight: bold;
  padding-right: 0.4em;
  float: left
}