/* Maybe change color of code??
code {
  color: black

}
*/

code span.kw {    /* keywords */
  color: blue;
  font-weight: normal
}

code span.co {    /* comments */
  color: green;
  font-style: normal
}

code span.st {    /* quoted string */
  color: brown
}

code span.er {    /* error */
  color: black;
  font-weight: normal;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red
}

code span.sc {    /* Hidden delimiter: !! or - */
  display: none
}

code span.wa {      /* keyword in error */
  color: blue;
  font-weight: normal;
  font-style: normal;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red
}

code span.in {       /* identifiers in Infoview */
  color: Chocolate;
  font-weight: bold;
  font-style: normal
}

.inout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  row-gap: 0
}

.befaft {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  row-gap: 0
}

.hdr {
  margin-bottom: 0;
  text-decoration-line: underline
}
